.details{
    text-align: center;
    background-color: lightskyblue;
    padding: 10px;
    border-bottom: 1px solid black;
}
.log{
    max-width: 550px;
    border: 1px solid black;
    background-color: #d7d7d7;
    margin: 0px auto;    
}
.test{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-column: span 5;    
}
.flow-test, .summary, .sub-test{
    display: grid;
    grid-template-columns: repeat(6,1fr);   
    cursor: pointer; 
}
.summary, .sub-test{
    grid-column:  span 6;
    border-bottom: 1px solid black;
}
.test-name{    
    grid-column: span 5;
    background-color: #a9a9a9;
    padding-left: 10px;
    border-bottom: 1px solid black;
    padding: 5px;
}
.verdict{
    text-align: center;
    grid-column: span 1;
    padding: 5px;
}
.sub-test-name{
    grid-column: span 5;
    background-color: #cecece;
    padding: 2px 0;
}
.sub-test-name, .iterates-categories, .iterate-values{
    padding-left: 20px;
}
.summary-subtest{
    grid-column: span 5;
}
.iterates-categories, .iterate-values{
    font-size: 0.9em;    
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* border: 1px solid black; */
}
.category, .value{
    text-align: center;
}
.sub-test-verdict{
    grid-column: 6;
}
.pass{
    background-color: lightgreen;
}
.failed{
    background-color: lightcoral;
}
.iterates-categories{
    font-weight: 900;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.invisible{
    display: none;
}
.visible{
    display: initial;
}