.details{
    text-align: center;
    background-color: lightskyblue;
    padding: 10px;
}
.log{
    max-width: 550px;
    border: 1px solid black;
    background-color: antiquewhite;
    margin: 0px auto;    
}
.test{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border: 1px solid black;
    grid-column: span 5;    
}
.flow-test, .summary, .sub-test{
    display: grid;
    grid-template-columns: repeat(6,1fr);    
}
.summary, .sub-test{
    grid-column:  span 6;
}
.test-name{    
    grid-column: span 5;
    background-color: aqua;
    padding-left: 10px;
}
.verdict{
    text-align: center;
    grid-column: span 1;
}
.sub-test-name{
    grid-column: span 5;
    background-color: lightsalmon;
}
.sub-test-name, .iterates-categories, .iterate-values{
    padding-left: 20px;
}
.iterates-categories, .iterate-values{
    font-size: 0.9em;    
    grid-column: span 5;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.category, .value{
    text-align: center;
}
.sub-test-verdict{
    grid-column: 6;
}